.home-container {
    background: #333;
    min-height: 80vh;
    max-height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://news.psu.edu/sites/default/files/styles/threshold-992/public/11271189.jpg?itok=eI1dWR0Y");
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://news.tulane.edu/sites/news/files/081417_football-practice_8858_800_pw.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.svgs-container {
    width: 100vw;
    max-width: 800px; 
}
.svg-team-container {
    width: 60vh;
    max-width: 50%;
}
.team-path {
    fill:rgba(255,0,0,0.01);
    stroke:#fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4px;
    stroke-dasharray: 918px;
    stroke-dashoffset: 918px;
    animation-name: trace-team;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier;
}
@keyframes trace-team {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 918px;
    }
    30% {
        opacity: 1;
        fill: none;
        stroke-dashoffset: 918px;
    }
    80% {
        fill: rgba(255,255,255,0);
    }
    100% {
        opacity: 1;
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
}
.svg-is-container {
    width: 20vw;
    max-width: 20%;
    margin: 10pt 0 0 0;
}
.is-path {
    fill:rgba(255,0,0,0.01);
    stroke:#fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dasharray: 564px;
    stroke-dashoffset: 564px;
    animation-name: trace-is;
    animation-delay: 2.25s;
    animation-duration: 2.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier;
}
@keyframes trace-is {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 564px;
    }
    30% {
        stroke-width: 4px;
        opacity: 1;
        fill: none;
        stroke-dashoffset: 564px;
    }
    80% {
        fill: rgba(255,255,255,0);
    }
    100% {
        opacity: 1;
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
}
.svg-everything-container {
    width: 95vw;
    max-width: 95%;
}
.everything-path {
    fill:rgba(255,0,0,0.01);
    stroke:#fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dasharray: 662px;
    stroke-dashoffset: 662px;
    animation-name: trace-everything;
    animation-delay: 3.25s;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier;
}
@keyframes trace-everything {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 662px;
    }
    30% {
        stroke-width: 4px;
        opacity: 1;
        fill: none;
        stroke-dashoffset: 662px;
    }
    80% {
        fill: rgba(255,255,255,0);
    }
    100% {
        opacity: 1;
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
}
.T, .I, .E {
    stroke: #AAF0D1;
    stroke-width: 6pt;
}
.home-container h1 {
    color: #AAF0D1;
    margin: 0 auto;
    text-align: center;
}