.add-shoulderpad-container {
    position: fixed;
    background: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.no-display {
    display: none;
    /* opacity: 0; */
}
.shoulderpads-container {
    min-height: 80vh;
    max-height: auto;
}
.shoulderpad-title-container {
    margin: 10pt auto;
    text-align: center;
}
.shoulderpad-title-container > * {
    margin: 10pt 0;
}
.shoulderpad-grid-titles {
    width: 70vw;
    margin: 10pt auto;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1.5fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
}
.shoulderpad-size-title, .shoulderpad-shoulderpad-number-title {
    justify-self: center;
}
.shoulderpad-assigned-to-title {
    justify-self: end;
}