.outer-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(0,0,0,0.6);
}
.modal-show {
    position: fixed;
    width: 70vw;
    max-width: 800pt;
    height: 70vh;
    z-index: 2;
    background: rgba(112, 128, 144, 0.9);
    color: #f7f7f7;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.modal-show > * {
    margin: 4pt 0;
}
.modal-show input {
    font-size: 1.5em;
}
.modal-show button {
    background: rgba(0,0,0,0.4);
    color: white;
    transition: 0.3s;
    margin: 0;
    font-size: 1em;
}
.modal-show button:hover {
    background: white;
    color: rgba(0,0,0,0.4);
    transition: 0.3s;
}
.modal-show > h1, h2, .position-div, h3, p, label {
    padding-left: 5pt;
}
.grid-player-layout {
    width: 70vw;
    margin: 10pt auto;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1.5fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
}
.see-more-btn {
    width: auto;
    justify-self: end;
    font-size: 1.5em;
}
.helmet, .shoulderpads {
    justify-self: center;
}
.helmet:hover, .shoulderpads:hover, .see-more-btn {
    cursor: pointer;
}
.player-equipment-container {
    width: 90%;
    margin: 5pt auto;
    display: grid;
    grid-template-columns: 10% auto 1fr 1fr auto 10%;
    grid-template-rows: auto 13pt auto 13pt auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.equip-title{grid-column: 3 / 5; grid-row: 1;}
.helmet-icon{grid-column: 3; grid-row: 3; justify-self: center; fill: white;}
.player-helmet{grid-column: 4; grid-row: 3; justify-self: start;}
.sp-icon{grid-column: 3; grid-row: 5; justify-self: center; fill: white;}
.player-sp{grid-column: 4; grid-row: 5; justify-self: start;}

@media (max-width: 768px) {
    .helmet {
        height: 3vh;
    }
    .shoulderpads {
        height: 2.5vh;
    }
    .see-more-btn {
        width: 23pt;
        font-size: 0.5em;
    }
    .grid-player-layout > p {
        font-size: 0.75em;
    }
    .helmet-icon, .sp-icon {
        height: 7vh;
    }
    .player-helmet, .player-sp {
        font-size: 1em;
    }
}